.tracker-stats {
  color: white;
  background-color: #081217;
  border-right: 1px solid #263238;
  border-top: 4px solid #263238;

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
}
  
.tracker-stat {
  
  font-size: 2em;
  text-align: center;
  padding: .5em;
  border-right: 1px solid #263238;
  border-bottom: 1px solid #263238;

  strong {
    font-weight: normal;
    color: $blue-grey-300;
  }

}
  
.tracker-stat-primary {

  margin: 0;

  strong {
    display: block;
    font-size: .5em;
  }

}
  
.tracker-stat-secondary {

  font-size: .5em;
  margin: .8em 0 0;

  strong {
    font-size: .8em;
    margin-left: .4em;
  }

}

.tracker-last-updated {

  color: white;
  background-color: #081217;
  padding: .8em 0;

  p {
    color: $blue-grey-300;
    font-size: .8em;
    text-align: center;
    margin: 0;
  }

}
  
.new-stats {

  color: white;
  background-color: #081217;
  border-right: 1px solid #263238;
  border-top: 4px solid #263238;

  ul {
    display: grid;
    grid-auto-flow: row;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  

}